<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
	algoliasearchNetlify({
		appId: 'JNFDK1O1X3',
		apiKey: 'baaf4591b1dd21d5da77deeeff8b75d1',
		siteId: '81715269-c9db-42da-8a91-d5d50a30b0f6',
		branch: 'main',
		selector: 'div#search',
	});
</script>